{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://shuvendusingha.onrender.com/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="bg-slate-700 text-white min-h-screen items-center justify-center">

    <div class='flex justify-center items-center m-10'>
        <form method="post">
            {% csrf_token %}
            <input type="text" method='GET' name="city" id='city' class='bg-white h-[38px] pl-2 text-black' placeholder="Enter city name">
            <input type="text" name="city2" class='bg-white h-[38px] pl-2 text-black' placeholder="Enter city name">
            <button type="submit" class='bg-purple-700 hover:bg-purple-400 h-10 p-2'>Compare Weather</button>
        </form>
    </div>

    <div class="flex flex-row bg-slate-500 items-center justify-center">
        {% if weather_data %}
            <div class="flex flex-col w-full">
                {% include 'weatherapp/weather.html' with weather_data=weather_data daily_forecasts=daily_forecasts %}
            </div>
        {% endif %}
        {% if weather_data2 %}
            <div class="flex flex-col w-full">
                {% include 'weatherapp/weather.html' with weather_data=weather_data2 daily_forecasts=daily_forecasts2 %}
            </div>
        {% endif %}
    </div>


    <script>
        jQuery(document).ready(function($) { // Ensure the document is fully loaded
            function updateWeatherData() {
                $.ajax({
                    url: "/get_weather_data/",
                    type: "GET",
                    data: {
                        city: $('#city').val()
                    },
                    success: function(data) {
                        console.log(data);
                        // Update the DOM elements with the new data
                        if (data && data.weather_data) {
                            $('#city').text(data.weather_data.city);
                            $('#temperature').text(data.weather_data.temperature);
                            $('#temp_minmax').text(data.weather_data.max_temp + " - " + data.weather_data.min_temp);
                            $('#desc').text(data.weather_data.description);
                        } else {
                            console.error("Invalid data received:", data);
                        }
            
                        // Schedule the next update
                        setTimeout(updateWeatherData, 60000); // Update every 60 seconds
                    }
                });
            }
            
            // Initial call to start the periodic updates
            updateWeatherData();
        });
    </script>
    
</body>

</html>