{% if weather_data %}
    <h1>City: {{ weather_data.city }}</h1>
    <h2>Temperature: {{ weather_data.temperature }}°C</h2>
    <p> Description: {{ weather_data.description }}</p>
    <img src="https://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="{{ weather_data.description }}">
{% endif %}

{% if daily_forecasts %}
    <h2>5-Day Forecast</h2>
    <div class="forecast-container">
        {% for forecast in daily_forecasts %}
            <div class="forecast">
                <h3>Today: {{ forecast.day }}</h3>
                <p>Min. Temp.: {{ forecast.min_temp }}°C - Max. Temp.: {{ forecast.max_temp }}°C</p>
                <p>Description: {{ forecast.description }}</p>
                <img src="https://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="{{ forecast.description }}">
            </div>
        {% endfor %}
    </div>
{% endif %}